* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --purple-700:  hsl(257, 40%, 49%);

    --magenta-400:hsl(300, 69%, 71%);


}

.text-1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  font-size:40px;
  
}

.text-2 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  font-weight: 600;
  font-style: normal;
  font-size:24px;
  
}

.text-3 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size:18px;
  
}
.text-5 {
    font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-size:16px;
}

body {
    background-image: url(./images/bg-mobile.svg);
    background-color: var(--purple-700);
    color: white;
}

.container {
    max-width: 304px;
    margin: 2.5rem auto;
   
    
}

.logo-container {
    margin-bottom: 4rem;
}

.logo-image {
   
    height: 19px;
}


.hero-image {
    width: 100%;
    margin-bottom: 3.5rem;
}

.text {
    text-align: center;
}

.text-heading {
    margin-bottom: 1.5rem;
   
}

.text-p {
    margin-bottom: 1.5rem;
    padding: 0 .5rem;
}

.text-btn {
    margin-bottom: 4rem;
    border-radius: 20px;
    color:var(--purple-700);
    border: none;
    padding:.5rem 3rem;
    
}

.text-btn:hover {
    background-color: var(--magenta-400);
    color: white;
}

footer  {
   display: flex;
   justify-content: center;
   gap:1rem;

}

i.icon {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 12px;
    height: 32px;
    width: 32px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {

    body {
         background-image: url(./images/bg-desktop.svg);
         background-repeat: no-repeat;
         background-size: cover;
    }
    .container {
        max-width: 90%;
        display:flex;
        gap: 3.5rem;
        margin: 4rem  auto 0 auto;
    }

    .logo-hero {
        flex:1;
    }
    .logo-image {
    width:200px;
    height:32px;
}


.right-side {
    width: 36%;
    display: flex;
        flex-direction: column;
        justify-content: center;
       
        text-align: left;
}



    .text-heading {
        font-family: "Poppins", sans-serif;
        line-height: 1.5;
        font-weight: 600;
        font-style: normal;
        font-size:40px;
    }

    .text {
        text-align: left;
    }
    
    footer {
         max-width: 90%;
          margin: 0 auto;
        justify-content: flex-end;
    }

}